@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Conden    sed:wght@500;600&display=swap");
/*----- Global -----*/
* {
  padding: 0;
  margin: 0;
}
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--Light-grayish-blue);
}
img {
  border-radius: 50%;
  width: 30px;
  max-height: auto;
  align-self: center;
}
/*----- Cards Grid Display -----*/
main {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 10px;
}
.cards {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 30px 0px rgba(172, 172, 172, 0.76);
}
.cards h1 {
  margin: 15px 0;
  font-size: 1.8rem;
  line-height: 25px;
}
.cards p {
  font-size: 1.2rem;
  line-height: 20px;
}
.cards div {
  display: flex;
}
.cards div div {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards div div p:first-child {
  /*Name*/
  font-weight: 600;
  margin-bottom: -4px;
}

/*---------- Card1 ----------*/
.card1 {
  background-color: var(--Moderate-violet);
  color: rgba(255, 255, 255, 0.85);
  grid-column: span 2;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 20%;
  background-size: 110px;
}
.card1 img {
  border: 3px solid;
  border-color: #a37dd0;
}
.card1 div div p:nth-child(2) {
  /*Verified*/
  color: hsla(0, 0%, 81%, 0.5);
  font-size: 1.2rem;
}
.card1 > p {
  color: hsla(0, 0%, 81%, 0.7);
}

/*---------- Card2 ----------*/
.card2 {
  background-color: var(--Very-dark-grayish-blue);
  color: rgba(255, 255, 255, 0.85);
}
.card2 div div p:nth-child(2) {
  /*Verified*/
  color: hsla(0, 0%, 81%, 0.5);
  font-size: 1.2rem;
}
.card2 > p {
  color: hsla(0, 0%, 100%, 0.7);
}

/*---------- Card3 ----------*/
.card3 {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
  grid-row: span 2;
}
.card3 div div p:nth-child(2) {
  /*Verified*/
  color: hsla(216, 5%, 38%, 0.5);
  font-size: 1.2rem;
}
.card3 > p {
  color: hsla(216, 5%, 38%, 0.7);
}

/*---------- Card4 ----------*/
.card4 {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}
.card4 div div p:nth-child(2) {
  /*Verified*/
  color: hsla(216, 5%, 38%, 0.5);
  font-size: 1.2rem;
}
.card4 > p {
  color: hsla(216, 5%, 38%, 0.7);
}

/*---------- Card5 ----------*/
.card5 {
  background-color: var(--Very-dark-blackish-blue);
  color: rgba(255, 255, 255, 0.8);
  grid-column: span 2;
}
.card5 img {
  border: 3px solid;
  border-color: var(--Moderate-violet);
}
.card5 div div p:nth-child(2) {
  /*Verified*/
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1.2rem;
}
.card5 > p {
  color: hsla(0, 0%, 100%, 0.7);
}

@media (max-width: 68.75em) {
  .card3 {
    grid-column: span 4;
  }
  .card2,
  .card4 {
    grid-column: span 2;
  }
}
@media (max-width: 46.875em) {
  main {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }
  .cards {
    grid-row: span 1;
    grid-column: span 1;
  }
  .card1 {
    background-position: top right 12%;
  }
  .card3 {
    grid-row: 5 / span 1;
  }
}
